{% extends "base.html" %}
{% block title %}Information{% endblock %}

{% block head %}
    <link href="static/other-style.css" rel="stylesheet" type="text/css" />
    <style> 

    </style>
{% endblock %}

{% block content %}

<section class="home"></section>

    <div class = "information">

        <h2 class="myH2">What is this?</h2>
            <p class="myP">
                Description
            </p>

        <h2 class="myH2">Our Goal</h2>
            <p class="myP">
                <br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E<br>E
            </p>
    </div>
{% endblock %}