{% extends "base.html" %}
{% block title %}Information{% endblock %}
{% block content %}

    <section class="home"></section>

    <a href="https://dl-web.dropbox.com/zip_download_get/ArBL98rArMquC1mra0oACfvhhkflY09J2VxwdIGATgok3b-jm9FfDtEAN1-MCDX3RRWWobBNUsKWX1ovtbIqLCPk3vPCYjiUtBxyAVDztTR3yg?_download_id=45088151950088573744053484323178786379349986832317596010040200216&_notify_domain=www.dropbox.com" download="Download"><div class = "download-btn">download</div></a>
    <style>
        .download-btn {
            color: black;
            background-color: #00FA9A;
            padding: 5px 5px;
            font-size: 15px;

            margin-top: 40vh;
            border: 1px transparent;
        }

        .home {
            width: 100%;
            height: 10vh;
            background-color: black;
            background-position: center top;
            background-size:cover;
        }

        .navTrigger {
            display: none;
        }

        .nav {
            padding-top: 20px;
            padding-bottom: 20px;
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }
    </style>
{% endblock %}